/* visited ketika link di klik, hover ketika mouse berada diatas link, active ketika mouse mengklik link, link ketika link belum di klik dan mouse tidak berada di atas link */
a:visited {
  color: red;
}
a:hover {
  color: purple;
}
a:link {
  color: blue;
}
a:active {
  color: yellow;
}
