/* text properties terdiri dari 
- text-align dengan value left, right, center, justify. 
- text-decoration berguna jika akan memberikan garis pada kata dengan value underline, overline, line-through. 
- text-transform berguna untuk mengubah huruf jadi capitalis atau sebaliknya dengan value capitalize, lowercase, uppercase, 
- shorthand text-shadow berguna untuk memberi shadow pada kata : <h-shadow> <v-shadow> <blur-radius> <color> <none|initial|inheritance>, 
- text-indent untuk memberikan indentasi, 
- letter-spacing untuk mengatur jarak antar karakter, 
- word-spacing untuk mengatur jarak antar kata*/
.paragrafh-1{
    text-align: center;
    text-decoration: underline;
}
.paragrafh-2{
    text-align: left;
    text-decoration: overline;
    text-shadow: 2px 2px 3px black;
}
.paragrafh-3{
    text-align: right;
    text-decoration: line-through;
    text-indent: 10px;
}
.paragrafh-4{
    letter-spacing: 20px;
}
.paragrafh-5{
    text-align: justify;
    word-spacing: 20px;
}