h1::before {
  content: "Hi, ";
}
h1::after {
  content: " World!";
}
.container {
  position: relative;
  width: 300px;
  height: 300px;
  margin-inline: auto;
  background-image: linear-gradient(to top right, red, blue);
}
.container::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  bottom: -20px;
  left: -20px;
  z-index: -1;
}

.container::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: blue;
  top: -20px;
  right: -20px;
  z-index: -1;
}
