/* 
- transition: [property] <durasi> [timing-function] [delay];
- timing-function : ease, ease-in, ease-out, ease-in-out, linear, cubic-bezier(w, x, y, z)
*/
.container{
    width: 600px;
    border: 1px solid black;
}
.kotak{
    width: 100px;
    height: 100px;
    background-color: salmon;
    transition: all 2s cubic-bezier(.24, -.35, .78, 1.46) 20ms;
}
.container:hover .kotak{
    transform: rotate(90deg);
    margin-left: 500px;
}